#container {
    width: 400px;
    background-color: #1616b427;
    padding: 20px;
}
input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list {
    margin:15px 0;
}

.list > li {
    background-color: #1616b485;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}
#baslik {
    color: #1111a0;
}
.btn{

    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}
.btn > button {
    padding: 5px;
    width: 60px;
    background-color: #1616b447;
    border-color:#1616b447 ;
} 


